
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode and PyCharm directories
.vscode/
.idea/

# MacOS and Linux files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak

# Test results
coverage.xml
*.cover
*.py,cover

# mypy and pylint
.mypy_cache/
.pylint.d/

# Build artifacts
build/
dist/
*.egg-info/

# Geemap temp files
geemap/

# Output prediction files
Outputs/
*.tif

# Data
*.csv
*.zip
*.tar.gz
*.hdf
*.nc
*.dat
