# Ignore temporary and system files
*.log
*.tmp
.DS_Store
__pycache__/
*.pyc

# Ignore large raw data or model files except important folders
# Remove the lines below to allow data and Outputs to be tracked
# *.tif
# *.pkl
# *.csv
# Outputs/
# data/

